body {
    font-family: 'Mukta', sans-serif;
    background-color: #242440;
    background: linear-gradient(142deg, rgba(36,36,64,1) 28%, rgba(87,87,158,1) 100%);
}

header {
    background-color: rgb(240, 248, 255, 0.3);
}

.container_header {
    width: 80%;
    height: 100px;
    margin: auto;
    display: flex;
}

#logo {
    width: 60%;
    height: 100px;
}

.container_header img {
    margin-top: 10px;
    position: absolute;
    width: 80px;
}

#empresa {
    height: 45px;
    width: 200px;
    margin: 25px 0 0 90px;
    display: inline-block;
}

.container_header h1 {
    display: inline;
    font-size: 45px;
    color: rgb(7, 8, 84);
}

#titulo {
    color: rgb(76, 120, 242);
}

.container_header a {
    font-size: 27px;
    font-weight: 500;
    margin: 36px 8% 0 0;
    text-decoration: none;
    color: rgb(33, 33, 93);
}

.container_header a:hover {
    text-decoration: underline;
}

.container_header a:active {
    color: white;
}

.container_main {
    width: 900px;
    height: 550px;
    margin: 2% auto;
}

.container_main img {
    width: 403px;
    float: left;
    margin: 120px 20px 20px 0;
}

.container_main h1 {
    color: white;
    font-size: 63px;
}

.container_main p {
    font-size: 23px;
    color: rgb(175, 179, 206);
    display: flex;
}

.container_second {
    height: 460px;
    width: 100%;
    margin: 3% auto 0 auto;
    background-color: rgb(57, 52, 88);
    display: flex;
    justify-content: center;
}

.caixa_beneficio {
    height: 350px;
    width: 350px;
    margin: 50px;
    position: relative;
}

.caixa_beneficio img {
    position: absolute;
    bottom: 0;
    margin: 20px 0 0 125px;
}

.caixa_beneficio h1 {
    text-align: center;
    font-size: 40px;
    color: aliceblue;
}

.caixa_beneficio p {
    color: rgb(217, 208, 233);
    text-align: center;
    margin: 0 5%;
    font-size: 19px;
}

.container_footer {
    width: 100%;
    height: 125px;
    text-align: center;
    padding-top: 10px;
    background-color: rgba(11, 8, 43, 0.547);
}

.container_footer img {
    width: 80px;
    margin: 0 auto;
}

.container_footer p {
    color: rgba(255, 255, 255, 0.85);
}

